*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
ConvNext_V2/ConvNeXt_V2_output/best_cnn.pt filter=lfs diff=lfs merge=lfs -text
ConvUnet/AutoDL/Baseline_samplerUNetPP_GEMopt_AutoDL_Baseline_Output/Unconfirmed[[:space:]]195246.crdownload filter=lfs diff=lfs merge=lfs -text
